body,
* {
    padding: 0;
    margin: 0;
}

body {
    background: url(./images/background.png) repeat-x;
}

#bannerSection {
    height: 150px;
    background: url(./images/banner.png) repeat-x;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#leftSection {
    width: 70%;
    height: 70vh;
    margin-left: 5%;
    margin-top: 3%;
    border: black solid 2px;
    border-radius: 25px;
    padding: 5px;
    float: left;
}

#rottenTomatoAndPostersContainer {
    width: 40%;
    float: left;
}

#rottenTomatoScore {
    width: 550px;
    display: flex;
    justify-content: center;
    height: 20%;
    margin-top: 3%;
}

#rottenTomatoScore img {
    width: 250px;
    background: white;
}

#moviePostersContainer {
    width: 90%;
    min-height: 520px;
    margin: 0 auto;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 5px;
}

.moviePoster {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 150px;
    height: 250px;
}

.moviePosterImg {
    width: 95%;
    height: 80%;
    border-radius: 10px;
}

.posterCaption {
    margin-top: 5px;
    font-size: 10pt;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

#reviewsContainer {
    background: url(./images/background.png);
    background-repeat: repeat;
    width: 60%;
    float: right;
    border-radius: 25px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.reviewCol {
    width: 47%;
    margin: auto;
}

.reviewCard {
    background-color: #ffffff;
    padding: 8px;
    margin: 10px auto;
    line-height: 20px;
    border-radius: 20px;
    width: 90%;
    height: 150px;
    box-shadow: #17181A 0px 4px 10px;
}

.review {
    font-weight: bold;
    font-size: 12pt;
}

.user {
    margin-left: 10px;
    font-weight: 600;
}

.place {
    margin-left: 10px;
    font-weight: 400;
}

.starRating {
    margin-top: 30px;
}

.firstStar {
    margin-left: 10px;
}

.starIcon {
    width: 20px;
}

.nostars {
    margin-top: 45px;
}

.fraction,
.letterGrade {
    float: right;
}

#rightSection {
    width: 15%;
    background-color: #A2B964;
    padding: 10px;
    font: 11pt Arial, sans-serif;
    float: right;
    height: 70vh;
    margin-top: 3%;
    margin-right: 5%;
    border-radius: 25px;
    line-height: 25px;
}

#rightSection h2,
#rightSection span {
    margin-bottom: 20px;
}

#movieDetailsContainer {
    margin-top: 5%;
    padding: 5px;
    height: auto;
    width: 90%;
    margin: 10px auto;
}

#castAndCrewContainer {
    height: auto;
    width: 90%;
    margin: 10px auto;
}

#informationContainer {
    height: auto;
    width: 90%;
    margin: 10px auto;
}

#socialsContainer {
    text-align: center;
    height: auto;
    width: 90%;
    margin: 20px auto 0 auto;
}

#socialsContainer i {
    font-size: 24px;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}

#trailerBtn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

#footerSection {
    background-color: #17181A;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#movieAnalytics {}